html,
body {
  margin: 0;
  padding: 0;
  background-color: dimgray;
}



.header {
  position: relative;
  background-color: black;
  width: 100vw;
  height: 100px;
  color: black;
}

.header .logo {
  width: 140px;
  margin-left: 50px;


}

.descricao {
  position: absolute;
  margin-left: 200px;
  top: 50px;
  color: aliceblue;
}

.header h1 {
  position: absolute;
  top: 0;
  margin-left: 800px;
  size: 20px;
  color: aliceblue;


}

.header ul {
  list-style: none;
}

.header li {
  display: inline;
  padding: 8px;
}

.menu {
  position: absolute;
  bottom: 0;
  right: 20px;
  bottom: 65px;
  top: 65px;
}